.hv-6d2547:hover{color:#FFD0D2 !important}
.hv-348c4d:hover{background:#F3F4F9 !important;color:#313893 !important}
.hv-6a96a5:hover{background:#C0161D !important;color:#fff !important}
.hv-770bf8:hover{background:#fff !important;color:#14183A !important}
.hv-935324:hover{transform:translateY(-6px) !important;box-shadow:0 22px 44px rgba(20,24,58,.14) !important;border-color:#313893 !important;color:#14183A !important}
.hv-5e9b76:hover{transform:translateY(-6px) !important;box-shadow:0 22px 44px rgba(20,24,58,.14) !important;color:#14183A !important}
.hv-bd5fa7:hover{background:#252B78 !important;color:#fff !important}
.hv-2083a0:hover{background:#fff !important;border-color:#313893 !important}
.hv-7b0429:hover{background:#1C2150 !important;border-color:#313893 !important}
.hv-66db52:hover{background:#313893 !important;color:#fff !important}
.hv-9099e0:hover{background:#E4E6F5 !important;color:#14183A !important}
.hv-1ff11b:hover{border-color:#E31E26 !important}
.hv-b2d6c8:hover{color:#E31E26 !important}
.hv-720251:hover{color:#313893 !important}
.hv-b766f3:hover{transform:translateY(-4px) !important;box-shadow:0 26px 54px rgba(20,24,58,.14) !important;color:#14183A !important}
.hv-25c4e5:hover{transform:translateY(-4px) !important;box-shadow:0 16px 36px rgba(20,24,58,.1) !important;border-color:#313893 !important;color:#14183A !important}
.hv-bb83fa:hover{background:#C0161D !important}
.hv-2cfab4:hover{color:#14183A !important}
